{% extends 'base.html.twig' %}

{% block title %}Gado{% endblock %}
{% block section_title %}Gado{% endblock %}

{% block body %}
    <a href="{{ path('new_cattle') }}">
        <button class="btn btn-success w-100 mt-3">Adicionar gado</button>
    </a>

    <table class="table table-striped table-hover mt-3">
        <thead class="table-success">
        <tr>
            <twig:SortableHeader attribute="c.code" label="Código"></twig:SortableHeader>
            <twig:SortableHeader attribute="c.weight" label="Peso"></twig:SortableHeader>
            <twig:SortableHeader attribute="c.milk_per_week" label="Leite"></twig:SortableHeader>
            <twig:SortableHeader attribute="c.feed" label="Ração"></twig:SortableHeader>
            <twig:SortableHeader attribute="c.birthdate" label="Data de nascimento"></twig:SortableHeader>
            <th>Fazenda</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for cattle in pagination %}
            <tr>
                <td>
                    <p>{{ cattle.code }}</p>
                </td>
                <td>
                    <p>{{ cattle.weight }} Kg</p>
                </td>
                <td>
                    <p>{{ cattle.milkPerWeek }} L</p>
                </td>
                <td>
                    <p>{{ cattle.feed }} Kg</p>
                </td>
                <td>
                    <p>{{ cattle.birthdate.format('d/m/Y') }}</p>
                </td>
                <td>
                    <p>{{ cattle.farm.name }}</p>
                </td>
                <td>
                    <a href="{{ path('edit_cattle', {id: cattle.id}) }}">Editar</a>
                    <a href="{{ path('delete_cattle', {id: cattle.id}) }}">Apagar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
